{% extends "base.html" %}

{% block title %}Кинодом{% endblock %}

{% block content2 %}
<div class="col-md-9">
            <h2 id="latest">Новинки</h2>
              <div  id="moviesContainer">
                <div class="card mb-3" data-number="1" data-year="2023" data-rating="7.5" data-votes="42409" data-title="Стальная хватка">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://i123.fastpic.org/big/2024/0213/e0/d39257b0cce8fc603bd50b441d0cc5e0.jpg" class="card-img" alt="Steel grip" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Стальная хватка</h5>
                            <p class="card-text">Год выпуска: 2023</p>
                            <p class="card-text">Длительность: 131 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Биография, спорт</p>
                            <p class="card-text">Рейтинг: 7.5 (42 409 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card mb-3" data-number="2" data-year="2023" data-rating="5.4" data-votes="30805" data-title="Катастрофа">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/1b2679b8-ad93-49dd-b745-c22e469f07a3/600x900" class="card-img" alt="Disaster" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Катастрофа</h5>
                              <p class="card-text">Год выпуска: 2023</p>
                              <p class="card-text">Длительность: 95 минут</p>
                              <p class="card-text">Страна: Франция</p>
                              <p class="card-text">Жанры: Фантастика,триллер</p>
                              <p class="card-text">Рейтинг: 5.4 (30 805 оценок)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" data-number="3" data-year="2023" data-rating="7.8" data-votes="296394" data-title="Догмен">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://www.kino-teatr.ru/movie/poster/165774/173248.jpg" class="card-img" alt="Dogman" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Догмен</h5>
                              <p class="card-text">Год выпуска: 2023</p>
                              <p class="card-text">Длительность: 110 минут</p>
                              <p class="card-text">Страна: Франция</p>
                              <p class="card-text">Жанры: Драма, боевик</p>
                              <p class="card-text">Рейтинг: 7.8 (296 394 оценок)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" data-number="4" data-year="2022" data-rating="8.5" data-votes="717" data-title="Так называемая">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/e50dd4e7-5eb5-4e67-bb71-1d39c7835f25/600x900" class="card-img" alt="The so-called" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Так называемая</h5>
                              <p class="card-text">Год выпуска: 2022</p>
                              <p class="card-text">Длительность: 72 минут</p>
                              <p class="card-text">Страна: Россия</p>
                              <p class="card-text">Жанры: Документальный</p>
                              <p class="card-text">Рейтинг: 8.5 (717 оценок)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" data-number="5" data-year="2022" data-rating="5.4" data-votes="1061" data-title="Воины будущего">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/328372e6-fd2f-495e-bb69-7e51223db760/600x900" class="card-img" alt="Wars of the future" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Воины будущего</h5>
                              <p class="card-text">Год выпуска: 2022</p>
                              <p class="card-text">Длительность: 71 минут</p>
                              <p class="card-text">Страна: Китай</p>
                              <p class="card-text">Жанры: Фантастика, боевик</p>
                              <p class="card-text">Рейтинг: 5.4 (1061 оценка)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
