{% extends "base.html" %}

{% block title %}Кинодом{% endblock %}

{% block content2 %}
<div class="col-md-9">
            <h2 id="popular">Популярное</h2>
              <div  id="moviesContainer">
                <div class="card mb-3" data-number="1" data-year="2024" data-rating="8.1" data-votes="18148" data-title="Лёд 3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/0626de3c-b731-4f72-9bd0-906aacc3bbe1/600x900" class="card-img" alt="Ice3" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Лёд 3</h5>
                            <p class="card-text">Год выпуска: 2024</p>
                            <p class="card-text">Длительность: 134 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Мелодрама</p>
                            <p class="card-text">Рейтинг: 8.1 (18 148 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="card mb-3" data-number="2" data-year="2023" data-rating="8.0" data-votes="137549" data-title="Мастер и Маргарита">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/56d4e2fb-f71c-419e-845e-d667e57f92ad/600x900" class="card-img" alt="MasterAndMargaritar" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Мастер и Маргарита</h5>
                              <p class="card-text">Год выпуска: 2023</p>
                              <p class="card-text">Длительность: 157 минут</p>
                              <p class="card-text">Страна: Россия</p>
                              <p class="card-text">Жанры: Драма</p>
                              <p class="card-text">Рейтинг: 8.0 (137 549 оценок)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" data-number="3" data-year="2023" data-rating="7.8" data-votes="296394" data-title="Догмен">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://www.kino-teatr.ru/movie/poster/165774/173248.jpg" class="card-img" alt="Dogman" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Догмен</h5>
                              <p class="card-text">Год выпуска: 2023</p>
                              <p class="card-text">Длительность: 110 минут</p>
                              <p class="card-text">Страна: Франция</p>
                              <p class="card-text">Жанры: Драма, боевик</p>
                              <p class="card-text">Рейтинг: 7.8 (296 394 оценок)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" data-number="4" data-year="2023" data-rating="6.7" data-votes="80 166" data-title="Холоп 2">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/e6d45a18-ba9d-4f8d-ab00-3a5d9d8fb24f/600x900" class="card-img" alt="Lackey2" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Холоп 2</h5>
                              <p class="card-text">Год выпуска: 2023</p>
                              <p class="card-text">Длительность: 119 минут</p>
                              <p class="card-text">Страна: Россия</p>
                              <p class="card-text">Жанры: Комедия</p>
                              <p class="card-text">Рейтинг: 6.7 (80 166 оценок)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" data-number="5" data-year="2023" data-rating="7.0" data-votes="113443" data-title="Бременские музыканты">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/de03e962-cea1-43e0-801b-249704a5ebbb/600x900" class="card-img" alt="TheBremenTownMusicians" width="150" height="304">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">Бременские музыканты</h5>
                              <p class="card-text">Год выпуска: 2023</p>
                              <p class="card-text">Длительность: 116 минут</p>
                              <p class="card-text">Страна: Россия</p>
                              <p class="card-text">Жанры: Приключения</p>
                              <p class="card-text">Рейтинг: 7.0 (113 443 оценки)</p>
                              <a href="#" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}