{% extends "base.html" %}

{% block title %}Кинодом{% endblock %}

{% block content2 %}

        <div class="col-md-9">
            <h2 id="new">Новинки</h2>
            <div  id="moviesContainer">
            <div class="card mb-3" data-number="1" data-year="2023" data-rating="8.9" data-votes="66667" data-title="Смешарики снимают кино">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/fefb74c2-2182-4e50-a5a7-d1d9544dac11/600x900" class="card-img" alt="Smesharik" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Смешарики снимают кино</h5>
                            <p class="card-text">Год выпуска: 2023-...</p>
                            <p class="card-text">Длительность: 15 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Мультфильм</p>
                            <p class="card-text">Рейтинг: 8.9 (66 667 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </diV>
            <div class="card mb-3" data-number="2" data-year="2017" data-rating="8.6" data-votes="108936" data-title="Детство Шелдона">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/1f2508c7-e3df-44f4-a6a3-7613328c24a5/600x900" class="card-img" alt="TBB" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Детство Шелдона</h5>
                            <p class="card-text">Год выпуска: 2017-...</p>
                            <p class="card-text">Длительность: 30 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Комедия</p>
                            <p class="card-text">Рейтинг: 8.6 (108 936 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="3" data-year="2024" data-rating="6.8" data-votes="6394" data-title="Внутри убийцы">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/6b4b108b-bba8-48b9-906c-48389b3b2c83/600x900" class="card-img" alt="InsideTheKiller" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Внутри убийцы</h5>
                            <p class="card-text">Год выпуска: 2024</p>
                            <p class="card-text">Длительность: 50 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Детектив</p>
                            <p class="card-text">Рейтинг: 6.8 (6394 оценки)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="4" data-year="2019" data-rating="8.1" data-votes="26298" data-title="Харли Квинн">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4716873/adc01ce1-c270-4962-be68-ef335ffb36b3/600x900" class="card-img" alt="Queen" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Харли Квинн</h5>
                            <p class="card-text">Год выпуска: 2019-...</p>
                            <p class="card-text">Длительность: 22 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Мультфильм</p>
                            <p class="card-text">Рейтинг: 8.1 (26 298 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="5" data-year="2013" data-rating="9.0" data-votes="901915" data-title="Рик и Морти">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4303601/03b417ff-d544-4f0b-a1fb-af09a2167a60/600x900" class="card-img" alt="RickAndMorty" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Рик и Морти</h5>
                            <p class="card-text">Год выпуска: 2013-...</p>
                            <p class="card-text">Длительность: 23 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Мультфильм</p>
                            <p class="card-text">Рейтинг: 9.0 (901 915 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}