{% extends "base.html" %}

{% block title %}Кинодом{% endblock %}

{% block content2 %}

        <div class="col-md-9">
            <h2 id="popular">Популярное</h2>
            <div  id="moviesContainer">
            <div class="card mb-3" data-number="1" data-year="2023" data-rating="7.2" data-votes="2027" data-title="ГДР">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/10703959/3d24ccc0-878d-49cd-86e1-e50d9c5d6e40/600x900" class="card-img" alt="GDR" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">ГДР</h5>
                            <p class="card-text">Год выпуска: 2023</p>
                            <p class="card-text">Длительность: 50 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Детектив</p>
                            <p class="card-text">Рейтинг: 7.2 (2027 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </diV>
            <div class="card mb-3" data-number="2" data-year="2024" data-rating="4.6" data-votes="9936" data-title="Постучись в мою дверь в Москве">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/10812607/da06fd22-8325-499d-ab5a-ff5140b2d77d/600x900" class="card-img" alt="Dor" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Постучись в мою дверь в Москве</h5>
                            <p class="card-text">Год выпуска: 2024</p>
                            <p class="card-text">Длительность: 50 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Мелодрама</p>
                            <p class="card-text">Рейтинг: 4.6 (9936 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="3" data-year="2024" data-rating="6.8" data-votes="6394" data-title="Внутри убийцы">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/6b4b108b-bba8-48b9-906c-48389b3b2c83/600x900" class="card-img" alt="InsideTheKiller" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Внутри убийцы</h5>
                            <p class="card-text">Год выпуска: 2024</p>
                            <p class="card-text">Длительность: 50 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Детектив</p>
                            <p class="card-text">Рейтинг: 6.8 (6394 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="4" data-year="2023" data-rating="8.4" data-votes="770298" data-title="Слово пацана. Кровь на асфальте">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/58239d8d-44d3-475e-ab3f-878679c64290/600x900" class="card-img" alt="BoyWord" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Слово пацана. Кровь на асфальте</h5>
                            <p class="card-text">Год выпуска: 2023</p>
                            <p class="card-text">Длительность: 53 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Драма</p>
                            <p class="card-text">Рейтинг: 8.4 (770 298 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="5" data-year="2024" data-rating="7.0" data-votes="4445" data-title="Бедные смеются, богатые плачут">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/a4635eb4-d4b6-45fa-91e1-f7b414005e93/600x900" class="card-img" alt="TheBremenTownMusicians" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Бедные смеются, богатые плачут</h5>
                            <p class="card-text">Год выпуска: 2024</p>
                            <p class="card-text">Длительность: 16 минут</p>
                            <p class="card-text">Страна: Россия</p>
                            <p class="card-text">Жанры: Мелодрама</p>
                            <p class="card-text">Рейтинг: 7.0 (4445 оценки)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}