{% extends "base.html" %}

{% block title %}Кинодом{% endblock %}

{% block content2 %}


        <!-- Список фильмов -->
        <div class="col-md-9">
            <h2 id="top-rated">Топ рейтинга</h2>
            <div  id="moviesContainer">
            <div class="card mb-3" data-number="1" data-year="2008" data-rating="9.0" data-votes="110929" data-title="Во все тяжкие">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/fb35416f-3b0d-4b96-bc65-cf6923f9e329/600x900" class="card-img" alt="BreakingBad" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Во все тяжкие</h5>
                            <p class="card-text">Год выпуска: 2008-2013</p>
                            <p class="card-text">Длительность: 47 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Криминал</p>
                            <p class="card-text">Рейтинг: 9.0 (110 929 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </diV>
            <div class="card mb-3" data-number="2" data-year="1973" data-rating="9.0" data-votes="39536" data-title="Семнадцать мгновений весны">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/a1a8d14f-bff3-44a0-bdd5-77727f733c30/600x900" class="card-img" alt="Seventeen_moments_of_spring" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Семнадцать мгновений весны</h5>
                            <p class="card-text">Год выпуска: 1973</p>
                            <p class="card-text">Длительность: 69 минут</p>
                            <p class="card-text">Страна: СССР</p>
                            <p class="card-text">Жанры: Военный</p>
                            <p class="card-text">Рейтинг: 9.0 (39 536 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="3" data-year="2011" data-rating="8.9" data-votes="163255" data-title="Игра престолов">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/dd78edfd-6a1f-486c-9a86-6acbca940418/600x900" class="card-img" alt="GameOfThrones" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Игра престолов</h5>
                            <p class="card-text">Год выпуска: 2011-2019</p>
                            <p class="card-text">Длительность: 55 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Фэнтези</p>
                            <p class="card-text">Рейтинг: 8.9 (163 255 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="4" data-year="1994" data-rating="8.9" data-votes="38509" data-title="Друзья">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/35c6cb89-75e3-4efa-8d00-5bbf7175c066/600x900" class="card-img" alt="Friend" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Друзья</h5>
                            <p class="card-text">Год выпуска: 1994-2004</p>
                            <p class="card-text">Длительность: 5280 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Комедия</p>
                            <p class="card-text">Рейтинг: 8.9 (38 509 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="card mb-3" data-number="5" data-year="1999" data-rating="8.8" data-votes="41107" data-title="Сопрано">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/c5539203-bd0a-4d93-920a-11be2fbbd778/600x900" class="card-img" alt="Sopranos" width="150" height="304">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Сопрано</h5>
                            <p class="card-text">Год выпуска: 1999-2007</p>
                            <p class="card-text">Длительность: 55 минут</p>
                            <p class="card-text">Страна: США</p>
                            <p class="card-text">Жанры: Драма</p>
                            <p class="card-text">Рейтинг: 8.8 (41 107 оценок)</p>
                            <a href="#" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
