    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="sortBy">Сортировать по:</label>
                    <select class="form-control" id="sortBy">
                        <option value="no">Без сортировки</option>
                        <option value="newest">От новых к старым</option>
                        <option value="oldest">От старых к новым</option>
                        <option value="rating">По рейтингу</option>
                        <option value="votes">По количеству оценок</option>
                        <option value="title">По названию</option>
                    </select>
                </div>
                <!-- Подборки фильмов -->
                <div>
                <h2>Подборки фильмов</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/">Топ рейтинга</a></li>
                        <li class="list-group-item"><a href="/NewMovie">Новинки</a></li>
                        <li class="list-group-item"><a href="/PopularMovies">Популярное</a></li>
                    </ul>
                </div>
            </div>
